body {
    text-align: center;
}
#specific{
    font-family: sans-serif;
    line-height: 25px;
    background-color:rgba(	255,192,203,.5);
    text-align: left;
    border:1px solid pink;
    padding:5px;
    color:white;
    width: 1200px;
    font-weight: 700;
    margin:0 auto;

}